html, body {
	margin: 0; padding: 0;
	background: #e96443; /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #e96443 , #904e95); /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #e96443 , #904e95); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */width: 100%;
height: 100%;
font-family: 'Slabo 27px', serif;
font-size: 18px;
}

.content {
	width: 700px; height: 100%;
	display: block;
	margin: 0 auto;
	padding: 15px;
	background-color: rgba(255,255,255,0.5);
	box-shadow: 0 0 6px #333;
	box-sizing: border-box;
}
.content .login-box {
	background-color: rgba(255,255,255,0.3);
	padding: 15px;
	margin: 0 -15px;
}